<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="hfov" value="80" />
		<add key="vfov" value="40" />
		<add key="horizontalBlocks" value="10" />
		<add key="verticalBlocks" value="50" />
		<add key="drawDistance" value="5" />
		<add key="fps" value="60" />
		<add key="wait" value="10"/>
	</appSettings>
</configuration>