<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="hfov" value="80" />
		<add key="vfov" value="40" />
		<add key="horizontalBlocks" value="5"/>
		<add key="verticalBlocks" value="3" />
		<add key="drawDistance" value="20" />
		<add key="fps" value="10" />
		<add key="wait" value="100 "/>
	</appSettings>
</configuration>